/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-nov-2017, 20:46:23
    Author     : juanmanuel
*/

#AnchorPane {
    -fx-background-color: #546272;
    -fx-min-width: 800px;
    -fx-min-height: 500px;
    -fx-padding: 20px 20px 20px 20px;
}

#Panel {
    -fx-background-color: #818fa1;
    -fx-alignment: TOP_CENTER;

}

#Tab {
    -fx-background-color: #b1bfd2;
}

#Content {
    -fx-background-color: #f5f5f5;
}