/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/11/2017, 05:56:14 PM
    Author     : bigbo
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-nov-2017, 20:46:23
    Author     : juanmanuel
*/

#AnchorPane {
    -fx-background-color: #546272;
    -fx-min-width: 900px;
    -fx-min-height: 550px;
    -fx-padding: 20px 20px 20px 20px;
}

#Panel {
    -fx-background-color: #818fa1;
    -fx-alignment: TOP_CENTER;

}

#Content {
    -fx-background-color: #f5f5f5;
}

#title {
    -fx-font-size: 50px;
    -fx-pref-width: 700px;
    -fx-alignment: center;
}

#gridTitle {
    -fx-font-size: 20px;
    -fx-padding: 0px 0px 0px 10px;
}

