/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-nov-2017, 17:15:43
    Author     : juanmanuel
*/

#AnchorPane {
    -fx-background-color: #818FA1;
    -fx-min-width: 800px;
    -fx-min-height: 500px;
    -fx-padding: 50px 15em 50px 15em;
}


#menuPanel {
    -fx-background-color: #F0F0F0;
    -fx-alignment: TOP_CENTER;

}

#title {
    -fx-font-size: 50px;
    -fx-pref-width: 700px;
    -fx-alignment: center;
    -fx-X: 0px;
}

#form {
    -fx-vgap: 10px;
    -fx-hgap: 10px;
    -fx-padding: 10px 30px 10px 30px;
}

#formButton{
    -fx-pref-width: 200px;
}